[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bagged.outliertrees"]
	path = bagged.outliertrees
	url = https://github.com/rafajpsantos/bagged.outliertrees
